<template>
  <div class="cart">
    <h3>Cart</h3>
    <router-link class="cart__catalog_link" to="/">Catalog</router-link>
    <p v-if="!CART.length">There are no products in cart...</p>
    <div>
      <cart-item
          v-for="(item, index) in CART"
          :key="item.article"
          :cart_item_data="item"
          @deleteFromCart="deleteFromCart(index)"
          @decrement="decrementItem(index)"
          @increment="incrementItem(index)"
      />
      <div class="cart__total">
        <p class="total_name">Total:</p>
        <p>{{soo}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import CartItem from "@/components/cart-item";
import {mapActions, mapGetters} from "vuex";

export default {
  name: 'cart',
  components: {CartItem},
  props: {
    cart_data: Array,
    default() {
      return [];
    }
  },
  watch: {

  },
  computed: {
    ...mapGetters([
        'CART'
    ]),
    soo() {
      let result = []
      if(this.CART.length) {
        for (let i of this.CART) {
          result.push(i.price * i.quantity)
        }
        result = result.reduce(function (sum, el) {
          return  sum + el
        })
        return result
      } else {
        return 0
      }
    }

},
  methods: {
    ...mapActions([
      'DELETE_FROM_CART',
      'INCREMENT_CART_ITEM',
      'DECREMENT_CART_ITEM'
    ]),
    deleteFromCart(index) {
      this.DELETE_FROM_CART(index)
    },
    decrementItem(index) {
      this.DECREMENT_CART_ITEM(index)
    },
    incrementItem(index) {
      this.INCREMENT_CART_ITEM(index)
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.cart {

  &__catalog_link {
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    position: absolute;
    top: 90px;
    right: 10px;
    border: 2px solid black;
    padding: $padding*1.3 $padding*2.7;
  }
  &__total {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $padding*2 $padding*3;
    display: flex;
    justify-content: center;
    background: #eaeaea;
    font-size: 20px;
  }
  .total_name {
    margin-right: $margin*4;
  }
}
</style>