<template>
  <div class="cart-item">
    <img class="cart-item__image" :src="require('../assets/images/' + cart_item_data.image)" alt="">
    <div class="cart-item__info">
      <p>{{cart_item_data.name}}</p>
      <p>{{cart_item_data.price}}</p>
      <p>{{cart_item_data.article}}</p>
    </div>
    <div>Qty :</div>
    <div class="cart-item__quantity">
      <span>
        <span class="cart-item__quantity_btn" @click="decrementItem">-</span>
          {{cart_item_data.quantity}}
        <span class="cart-item__quantity_btn" @click="incrementItem">+</span>
      </span>
    </div>

    <button @click="deleteFromCart">Delete</button>
  </div>
</template>

<script>


export default {
  name: 'cart-item',
  components: {},

  props: {
    cart_item_data: {
      type: Object,
      default() {
        return {};
      }
    }
  },
  methods: {
    deleteFromCart() {
      this.$emit('deleteFromCart')
    },
    decrementItem() {
       this.$emit('decrement')
    },
    incrementItem() {
       this.$emit('increment')
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.cart-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px 0 #e0e0e0;
  padding: $padding*2;
  margin-bottom: $margin*2;
  &__image {
    max-width: 50px;
  }
  &__quantity_btn {
    cursor: pointer;
  }
}
</style>