<template>
  <div class="catalog">
    <h1>Catalog</h1>
    <router-link to="/cart" class="catalog__cart_link">Cart entry</router-link>
    <div class="catalog__list">
      <catalog-item
          v-for="product in this.PRODUCTS"
          :key="product.article"
          :product_data="product"
          @addToCart="addToCart"
      />
    </div>
  </div>
</template>

<script>
import catalogItem from "@/components/catalog-item";
import {mapActions,mapGetters} from "vuex"

export default {
  name: 'catalog',
  components: {catalogItem},
  computed: {
    ...mapGetters([
        'PRODUCTS'
    ])
  },
  methods: {
    ...mapActions([
        'GET_PRODUCTS_FROM_API',
        'ADD_TO_CART'
    ]),
    addToCart(data) {
      this.ADD_TO_CART(data)
    }
  },
  mounted() {
    this.GET_PRODUCTS_FROM_API()
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
h1 {
  text-align: center;
}
.catalog{
  &__list {
  display: flex;
  flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__cart_link {
    font-size: 1.5em;
    color: black;
    text-decoration: none;
    position: absolute;
    top: 90px;
    right: 10px;
    border: 2px solid black;
    padding: $padding*1.3;
  }
}
</style>