<template>
  <div class="main_wrapper">

    <router-view></router-view>

    <div class="main_wrapper__cart_quantity">
        Cart: {{CART.length}}
      </div>
  </div>
</template>

<script>
import Cart from "@/components/cart";
import Catalog from "@/components/catalog";
import {mapGetters} from "vuex";

export default {
  name: 'main-wrapper',
  components: {Catalog, Cart},
  computed: {
    ...mapGetters([
        'CART'
    ])
  }
}
</script>

<style lang="scss">
@import "@/assets/styles/_variables.scss";
.main_wrapper {
  max-width: 900px;
  margin: 0 auto;
  &__cart_quantity {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: $padding*2;
    font-size: 2em;
    border: 1px solid black;
  }
}

</style>